<div class="sidebar">
    <!-- Header -->
    <div class="sidebar-header">
      <h4 class="text-white"><i class="bi bi-bank"></i> Loan Management</h4>
    </div>
  
    <!-- User Info -->
    <div class="sidebar-user">
      <!-- <img src="../../assets/loginImage.jpg" alt="User Avatar" class="user-avatar"> -->
      <p class="user-name">John Doe</p>
      <span class="user-role">Maker</span>
    </div>
  
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li><a routerLink="/maker" routerLinkActive="active"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
      <li><a routerLink="/maker/apply-for-loan" routerLinkActive="active"><i class="bi bi-people"></i>Apply for Loans </a></li>
      <li><a routerLink="/maker/view-track-loan-application" routerLinkActive="active"><i class="bi bi-list-task"></i>View & Track Loan Applications </a></li>
      <li><a routerLink="/maker/modify-submit-report" routerLinkActive="active"><i class="bi bi-file-earmark-text"></i> Modify & Submit Reports      </a></li>
      <li><a routerLink="/maker/notifications" routerLinkActive="active"><i class="bi bi-alert"></i> Notifications</a></li>
      <li><a routerLink="/maker/settings" routerLinkActive="active"><i class="bi bi-gear"></i> Settings</a></li>
    </ul>
  
    <!-- Logout Button -->
    <div class="sidebar-footer">
      <button (click)="logOut()" class="btn btn-danger w-100"><i class="bi bi-box-arrow-right"></i> Logout</button>
    </div>
  </div>

  <router-outlet></router-outlet>